.Button {
  border: 1px solid var(--button-border-color);
  border-radius: 10px;
  background-color: transparent;
  color: var(--button-text-color);
  margin-right: 6px;
}

.Button:hover {
  background-color: var(--button-background-color-hover);
}
.Button:active {
  background-color: var(--button-background-color-active);
}

.Button.primary {
  border: none;
  background-color: var(--primary-button-background-color);
  color: var(--primary-button-text-color);
}
.Button.primary:hover {
  background-color: var(--primary-button-background-color-hover);
}
.Button.primary:active {
  background-color: var(--primary-button-background-color-active);
}

.Button.secondary {

}

.Button.danger {
  border: none;
  background-color: var(--warning-button-background-color);
  color: var(--warning-button-text-color);
}
.Button.danger:hover {
  background-color: var(--warning-button-background-color-hover);
}
.Button.danger:active {
  background-color: var(--warning-button-background-color-active);
}